{% extends "base.html" %} {% block title%}
<title>Add Pet</title>
{% endblock%} {% block content %}
<div class="container">
    <h1>Add Pet</h1>
    <form action="" method="POST">
        {{ form.hidden_tag() }} {% for field in form if field.widget.input_type
        != 'hidden' %}
        <p>
            {{ field.label}} <br />
            {{ field }} {% for error in field.errors %} {{error}} {% endfor %}
        </p>
        {% endfor %}
        <button class="btn btn-success" type="submit">Add</button>
    </form>
</div>
{% endblock %}
